@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    --text-color: #666;
    --heading-font-family: "Poppins", serif;
    --text-font-family: "Urbanist", serif;
    --theme-color1: #0a3e59;
    --theme-color2: #6cb015;
    --bs-breadcrumb-divider: '\e628';
    }

body{
  overflow-x:hidden;
}

.top{
font-family: var(--text-font-family);
background-color: var();
background-color: var(--theme-color1);
position: relative;
overflow: hidden;
z-index: 9;
padding: 5px 0;
}

.top::before{
    position: absolute;
    content: '';
    left: -50px;
    top: 0;
    width: 50%;
    background-color: var(--theme-color2);
    height: 45px;
    z-index: -1;
    transform: skewX(-30deg);
}

.top-left p{
margin: 0;
color: var(--bs-white);
}

.top-left p span{
  padding-right: 3px;
  font-size: 18px;
}


.top-right ul{
padding-left: 0;
display: flex;
margin: 0;
justify-content: end;
}

.top-right ul li{
list-style: none;
}

.top-right ul li a{
text-decoration: none;
color: var(--bs-white);
padding: 0 6px;
transition: .4s;
-webkit-transition: .4s;
-moz-transition: .4s;
}

.top-right ul li:nth-child(1) a{
border-right: 1px solid rgba(255,255,255,0.2);
padding-right: 6px;
margin-right: 6px;
padding-left: 0;
}
.top-right ul li:nth-child(2) a{
    padding-right: 0;
}

.top-right ul li:nth-child(2) a::after{
display: inline-block;
  content: '';
  width: 20px;
  height: 1px;
  background: var(--theme-color2);
  margin: 4px 8px;
}

.top-right ul li a span{
padding-right: 5px;
}

.top-right ul li a:hover{
    color: var(--theme-color2);
}


header{
    padding: 8px 0;
}

.logo img{
    width: 160px;
}

.navbar{
padding: 0;
}

.nav-link {
font-family: var(--text-font-family);
color: var(--text-color);
text-transform: uppercase;
font-weight: 500;
transition: .4s ease;
-webkit-transition: .4s ease;
-moz-transition: .4s ease;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding: 10px 12px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show, .nav-link:focus, .nav-link:hover {
color: var(--theme-color2);
}
.dropdown-item {
font-family: var(--text-font-family);
color: var(--text-color);
}

.top-btn a{
text-decoration: none;
  display: block;
  background-color: var(--theme-color2);
  color: var(--bs-white);
  font-family: var(--heading-font-family);
  font-size: 17px;
  font-weight: 500;
  padding: 10px 18px;
position: relative;
  overflow: hidden;
  border-radius: 30px;
  display: inline-block;
  z-index: 9;
}

.top-btn a::before {
    content: "";
    position: absolute;
    transition-duration: .8s;
    width: 200%;
    height: 200%;
    top: 110%;
    left: 50%;
    background: var(--theme-color1);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
}

.top-btn a i{
padding-right: 4px;
}

.top-btn a:hover::before {
    top: -40%;
}


.carousel-caption h2{
font-family: var(--heading-font-family);
  font-weight: 600;
  font-size: 36px;
  overflow: hidden;
}

.carousel-caption h2 .letter{
display: inline-block;
}

.carousel-caption p{
font-family: var(--text-font-family);  
}

.carousel-caption a{
  font-family: var(--text-font-family);
}

.carousel-caption{
right: 45%;
  left: 12%;
  color: #fff;
  padding: 15px;
  text-align: left;
  bottom: 5%
}

.ban2{
  right: 10%;
  left: 50%;
}
.carousel-item{
  z-index: 9;
}

.carousel-item::before{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

   background: linear-gradient(360deg, rgba(0, 0, 0, 0.8)  20%, transparent 80%);
   z-index: 0;
}


.carousel-caption a {
  font-family: var(--text-font-family);
  background-color: var(--theme-color2);
  color: var(--bs-white);
  text-decoration: none;
  display: inline-block;
  padding: 12px 22px;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.carousel-caption a span{
padding-right: 4px;
font-size: 17px;
}
.carousel-caption a i{
  padding-left: 4px;
  position: relative;
  top: 1px;
}


.carousel-caption a::before {
  content: "";
  position: absolute;
  transition-duration: .8s;
  width: 200%;
  height: 200%;
  top: 110%;
  left: 50%;
  background: var(--theme-color1);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.carousel-caption a:hover::before {
  top: -40%;
}

.carousel .carousel-item.active .animated1 {
  -webkit-animation: fadeInRight 1s ease-in-out 500ms both;
  animation: fadeInRight 1s ease-in-out 500ms both;
}
.carousel .carousel-item.active .animated2 {
  -webkit-animation: fadeInLeft 1s ease-in-out 500ms both;
  animation: fadeInLeft 1s ease-in-out 500ms both;
}
.carousel .carousel-item.active .animated3 {
  -webkit-animation: fadeInDown 1s ease-in-out 500ms both;
  animation: fadeInDown 1s ease-in-out 500ms both;    
}
.carousel .animated4 {
  -webkit-animation: fadeInUp 1s ease-in-out 500ms both;
  animation: fadeInUp 1s ease-in-out 500ms both;    
}


.carousel-caption {
transition: opacity 500ms;
}

.carousel .carousel-item img{
  width: 100%;
}


.carousel-inner > .carousel-item .carousel-caption {
  z-index: 99;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.carousel .carousel-item.active .carousel-caption {
  z-index: 99;
  opacity: 1;
  -webkit-transition: opacity 100ms;
  -moz-transition: opacity 100ms;
  -o-transition: opacity 100ms;
  transition: opacity 100ms;  
}

.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control.right {
  background: none;
}
.carousel-control.left {
  background: none;
}
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}




.sec-1{
padding: 50px 0;
background: rgba(244, 245, 247, 0.5) ;
}

.sec1-box{
text-align: center;
}

.sec1-box img {
  position: relative;
  display: inline-block;
  line-height: 100px;
  margin-bottom: 15px;
  transition: all 600ms ease;
  -moz-transition: all 600ms ease;
  -webkit-transition: all 600ms ease;
  -ms-transition: all 600ms ease;
  -o-transition: all 600ms ease;
}


.sec1-box:hover img{
  -webkit-transform: scale(-1) rotate(180deg);
  -moz-transform: scale(-1) rotate(180deg);
  -ms-transform: scale(-1) rotate(180deg);
  -o-transform: scale(-1) rotate(180deg);
  transform: scale(-1) rotate(180deg);
}

.sec1-box h4{
font-family: var(--heading-font-family);
color: var(--theme-color1);
}

.sec1-box p{
font-family: var(--text-font-family);
color: var(--text-color);
letter-spacing: 0.2px;    
}


.sec-2{
padding: 50px 0;
background: url(../images/sec2-bg.png) repeat-x bottom;
}

.wel-left {
    position: relative;
    padding-bottom: 100px;
    margin-right: 40px;
    padding-left: 10px;
}

.wel2{
  position: absolute;
  right: 15px;
  top: 25px;
  width: 150px;
  z-index: 99;
}

.wel-left .str-icon {
position: absolute;
bottom: 6px;
  left: 25%;
  width: 65px;
  animation: rotaion 3s ease-in-out infinite;
  z-index: -1;
}

.wel-left .wel-img1 {
    width: 414px;
    position: relative;
}

.wel-left .wel-img1::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: 0;
    left: -10px;
    right: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--bs-gray-300);
    border-radius: 200px;
    z-index: 1;
}

.reveal {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: hidden;
}

.wel-img1 img {
    width: 100%;
    aspect-ratio: 1 / 1.37;
    object-fit: cover;
    border-radius: 200px;
}

.wel-img2 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.wel-img2::before {
    content: '';
    position: absolute;
    top: -8px;
    bottom: 0;
    left: -8px;
    right: 0;
    width: 100%;
    height: 100%;
  border: 1px solid var(--bs-gray-300);
    border-radius: 160px;
    z-index: 1;
}

.wel-img2 img {
    width: 100%;
    aspect-ratio: 1 / 1.37;
    object-fit: cover;
    border-radius: 160px;
}

.wel-right h6{
font-family: var(--text-font-family);
  color: var(--theme-color2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}

.wel-right h6 i {
  animation: rotaion 3s ease-in-out infinite;
  display: inline-block;
  color: var(--theme-color);
  margin-right: 4px;
}

@keyframes rotaion {
  0% { 
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
  }

  100% { 
    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg);
  }
}

.wel-right h2{
font-family: var(--heading-font-family);
color: var(--theme-color1);
font-weight: 400;
  font-size: 42px;
}

.wel-right h2 strong{
  font-weight: 700;  
}

.wel-right p{
font-family: var(--text-font-family);
color: var(--text-color);
line-height: 26px;
letter-spacing: 0.4px;
}

.wel-bx{
display: flex;
border-bottom: 1px solid var(--bs-gray-300);
padding-bottom: 30px;
margin-bottom: 30px;
position: relative;
}

.wel-bx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-color2);
    opacity: 10%;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    z-index: 0;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.wel-bx:hover::before{
    opacity: 70%;
}

.wel-bx img{
margin-right: 20px;
}

.wel-bx h4{
font-family: var(--heading-font-family);
color: var(--theme-color1);
font-size: 22px;
}

.wel-right a{
font-family: var(--text-font-family);
  background-color: var(--theme-color2);
  color: var(--bs-white);
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.wel-right a::before {
  content: "";
  position: absolute;
  transition-duration: .8s;
  width: 200%;
  height: 200%;
  top: 110%;
  left: 50%;
  background: var(--theme-color1);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.wel-right a:hover::before {
  top: -40%;
}

.wel-right a span{
  padding-left: 4px;
  position: relative;
  top: 1px;
}


.sec-3{
position: relative;
padding-top: 100px;
z-index: 9;
background: url(../images/bg1.png);
background-size: cover;
}

.sec-3::before, .sec-3::after{
  position: absolute;
  content: '';
  height: 70%; 
   width: 100%; 
   top: 0;
  left: 0;
   z-index: -1;
}

.sec-3::before{
background: url(../images/sec3-bg.jpg) center;
background-size: cover;
}
.sec-3::after{
background-color: var(--theme-color1);
opacity: 0.9;
}

.sec3-title{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.sec3-title h6 {
  font-family: var(--text-font-family);
  color: var(--theme-color2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}

.sec3-title h6 i {
  animation: rotaion 3s ease-in-out infinite;
  display: inline-block;
  color: var(--theme-color);
  margin-right: 4px;
}

.sec3-title h2 {
  font-family: var(--heading-font-family);
  color: var(--bs-white);
  font-weight: 400;
  font-size: 42px;
}

.sec3-title p{
font-family: var(--text-font-family);
  color: var(--bs-gray-300);
  line-height: 26px;
  letter-spacing: 0.2px;
  margin: 0;  
}


.sec3-box{
margin: 15px 12px 18px 12px;
}

.sec3-box a{
  text-decoration: none;
  display: block;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,.07);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: .4s;
-webkit-transition: .4s;
-moz-transition: .4s;
}

.sec3-content{
  padding: 14px 40px 18px 29px;
  background-color: var(--bs-white);
  border-radius: 8px;
  margin-top: -23px;
  position: relative;
}

.sec3-content h4{
font-family: var(--heading-font-family);
color: var(--theme-color1);
font-size: 20px;
}

.sec3-content .review {
  font-family: var(--text-font-family);
  color: var(--text-color);
}


.sec3-content .review i {
  color: #fbad17;
  font-size: 14px;
  padding-right: 2px;
}

.sec3-mid{
border-bottom: 1px solid var(--bs-gray-300);
  margin-bottom: 15px;
  font-family: var(--text-font-family);
  color: var(--text-color);
  padding: 15px 0;
}

.sec3-mid i{
padding: 0px 6px;
color: var(--theme-color2);
}

.sec3-bottom{
display: flex;
justify-content: space-between;
align-items: center;
}

.sec3-bottom h6{
  margin: 0;
  font-family: var(--text-font-family);
  color: var(--text-color);
  display: flex;
  align-items: center;
  font-size: 17px;
  gap:6px;


}

.sec3-bottom h6 i{
font-size: 14px;
}

.sec3-bottom h6 div{
color: var(--theme-color2);
font-weight: 700;
font-size: 20px;
}

.sec3-bottom span {
  background: var(--theme-color2);
  color: var(--bs-white);
  text-transform: uppercase;
  font-family: var(--heading-font-family);
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 30px;
    transition: .4s;
-webkit-transition: .4s;
-moz-transition: .4s;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.sec3-bottom span i{
  font-size: 17px;
  padding-right: 2px;
}


.sec3-box a:hover{
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0.1);
}


.sec3-bottom span::before {
  content: "";
  position: absolute;
  transition-duration: .8s;
  width: 200%;
  height: 200%;
  top: 110%;
  left: 50%;
  background: var(--theme-color1);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.sec3-box a:hover .sec3-bottom span::before{
  top: -40%;
}



.sec-4{
padding: 60px 0;
background: url(../images/bg1.png);
background-size: cover;
}


.sec4-title h6 {
  font-family: var(--text-font-family);
  color: var(--theme-color2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}

.sec4-title h6 i {
  animation: rotaion 3s ease-in-out infinite;
  display: inline-block;
  color: var(--theme-color);
  margin-right: 4px;
}

.sec4-title h2{
font-family: var(--heading-font-family);
  color: var(--theme-color1);
  font-weight: 400;
  font-size: 36px;
}

.sec4-title h2 strong {
  font-weight: 700;
}

.sec4-box{
position: relative;
  overflow: hidden;
  text-align: center;
  padding-bottom: 45px;
  margin-top: 30px;
}

.sec4-box::before {
  position: absolute;
  left: 93px;
  bottom: 0;
  width: 200px;
  height: 381px;
  transform: skewX(-18deg);
  content: "";
  background-color: #f7f6f2;
  transition: all .3s ease;
  z-index: -1;
}

.sec4-box:hover::before {
  background-color: var(--theme-color2);
  opacity: .3;
}

.sec4-box .sec4-img {
  position: relative;
  display: inline-block;
  padding: 14px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 25px;
}

.sec4-box .sec4-img div{
position: relative;
  border-radius: 50%;
  margin-bottom: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.sec4-box .sec4-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px dashed var(--theme-color2);
}

.sec4-box .sec4-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background: var(--theme-color2);
  transition: all .3s ease;
}

.sec4-box .sec4-img img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  z-index: 3;
  transition: all .3s ease;
}

.sec4-box:hover .sec4-img::after {
  height: 100%;
}

.sec4-box:hover .sec4-img img {
  transform: scale(1.1);
}

.sec4-box h4{
font-family: var(--heading-font-family);
color: var(--theme-color1);
}

.sec4-box p{
font-family: var(--text-font-family);
  color: var(--text-color);
  line-height: 26px;
  letter-spacing: 0.4px;  
}

.sec-5{
padding: 60px 0;
position: relative;
z-index: 9;
background:url(../images/sec5-bg.jpg) center bottom; 
}

.sec-5::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--theme-color1);
  opacity: 0.9;
  z-index: -1;
}

.sec-5 .sec4-title h2{
color: var(--bs-white);
}

.sec-5 p{
font-family: var(--text-font-family); 
color: var(--bs-gray-300);
line-height: 26px;
letter-spacing: 0.2px;
}

.sec-5 h4{
font-family: var(--heading-font-family);  
color: var(--bs-white);
}

.sec5-box{
padding: 20px;
border: 1px solid rgba(255,255,255,0.2);
position: relative;
z-index: 9;
transition: .4s;
-webkit-transition: .4s;
-moz-transition: .4s;
}

.sec5-box:hover{
  background-color: rgba(255,255,255,0.15);
}

.sec5-box h5{
font-family: var(--heading-font-family);
color: var(--theme-color2);
margin-bottom: 5px;
position: relative;
}

.sec5-box h5::before{
position: absolute;
  content: '';
  left: 0;
  bottom: -4px;
  width: 30px;
  height: 1px;
  background: rgba(255,255,255,0.5);
}

.sec5-box p{
  margin-bottom: 0;
}

.sec-5 .sec5-box:nth-child(1){
border-top-left-radius: 10px;
}

.sec-5 .sec5-box:nth-child(2){
border-top-right-radius: 10px;
}

.sec-5 .sec5-box:nth-child(3){
border-bottom-left-radius: 10px;
}

.sec-5 .sec5-box:nth-child(4){
border-bottom-right-radius: 10px;
}

.sec-6{
padding: 50px 0;
}

.sec6-box{
text-align: center;
position: relative;
}

.sec6-box::before {
  content: "";
  position: absolute;
  bottom: 35px;
  right: -40px;
  width: 26px;
  height: 54px;
  background: url(../images/icon-line.png) no-repeat;
}

.sec-6 .col-lg-4:nth-child(3) .sec6-box::before{
display: none;
}

.sec6-box div{
  position: relative;
}

.sec6-box div::before {
content: "";
  position: absolute;
  top: 5px;
  right: 33%;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--bs-gray-200);
  z-index: -1;
}

.sec6-box h2{
font-family: var(--heading-font-family);
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 46px;
  margin: 0;
  color: var(--theme-color1);
}

.sec6-box h2::before {
  content: "\f067";
  position: absolute;
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  top: -11px;
  font-weight: 600;
  right: -17px;
  font-size: 25px;
}

.sec6-box img{
  width: 100px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  margin-bottom: 25px;
}

.sec6-box:hover img{
  transform: rotateY(180deg);
}

.sec6-box p{
font-family: var(--text-font-family);  
letter-spacing: 0.2px;
font-size: 18px;
color: var(--text-color);
}

.sec-7{
padding: 50px 0;
background: url(../images/sec7-bg.jpg);
background-size: cover;
position: relative;
z-index: 9;
}

.sec-7::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100px;
  width: 1100px;
  height: 100%;
  background-color: var(--theme-color2);
  -webkit-clip-path: polygon(18% 0,100% 0,80% 100%,0 100%);
  clip-path: polygon(18% 0,100% 0,80% 100%,0 100%);
  z-index: -1;
}

.sec7-title h6 i {
  animation: rotaion 3s ease-in-out infinite;
  display: inline-block;
  margin-right: 4px;
}

.sec7-title h6 {
  font-family: var(--text-font-family);
  color: var(--bs-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}

.sec7-title h2 {
  font-family: var(--heading-font-family);
   color: var(--bs-white);
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 40px;
}

.sec7-title h2 strong {
  font-weight: 700;
}

.sec7-box{
display: flex;
  gap: 12px;
  border-bottom: 1px dashed var(--bs-gray-400);
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.sec7-box i{
font-size: 35px;
color: var(--theme-color1);
}

.sec7-box h4{
font-family: var(--heading-font-family);
font-size: 22px;
color: var(--theme-color1);
margin-bottom: 5px;
}

.sec7-box p{
font-family: var(--text-font-family); 
letter-spacing: 0.2px;
color: var(--text-color);
}

.sec7-mid{
  position: relative;
  display: block;
  -webkit-clip-path: polygon(31% 0,100% 0,69% 100%,0 100%);
  clip-path: polygon(31% 0,100% 0,69% 100%,0 100%);
margin-top: -25px;
 margin-right: -10px;
}

.sec7-box2 h4{
color: var(--bs-white);
}

.sec7-box2 p{
color: var(--bs-white);
}

.sec-8{
padding: 40px 0;
position: relative;
background:url(../images/sec8-bg.jpg);
background-size: cover;
z-index: 9; 
}

.sec-8::before{
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color:var(--theme-color1);
  opacity: 0.9;
  z-index: -1;
}

.sec-8 h6 {
  font-family: var(--text-font-family);
  color: var(--theme-color2);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
}

.sec-8 h6 i {
  animation: rotaion 3s ease-in-out infinite;
  display: inline-block;
  margin-right: 4px;
}

.sec-8 h3 {
  font-family: var(--heading-font-family);
  color: var(--bs-white);
  font-weight: 400;
  font-size: 36px;
}

.sec-8 h3 strong {
  font-weight: 600;
}
.sec-8 p {
font-family: var(--text-font-family);
  letter-spacing: 0.2px;
  color: var(--bs-gray-400);
  font-size: 18px;
}

.sec-8 a {
  font-family: var(--text-font-family);
  background-color: var(--theme-color2);
  color: var(--bs-white);
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.sec-8 a i{
  padding-right: 5px;
}

.sec-8 a::before {
  content: "";
  position: absolute;
  transition-duration: .8s;
  width: 200%;
  height: 200%;
  top: 110%;
  left: 50%;
  background: var(--theme-color1);
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.sec-8 a:hover::before {
  top: -40%;
}

.sec-9{
  padding: 50px 0 65px;
}

.sec9-bx{
  background-color: var(--bs-white);
  box-shadow:  0 0 15px 5px rgb(0 0 0 / 4%);
  border-radius: 15px;
  padding: 30px;
  margin: 20px 15px 15px 15px;
  position: relative;
  z-index: 9;
}

.sec9-bx::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  right: 10px;
  top: 10px;
  border: 3px solid var(--bs-gray-200);
  border-left: none;
  border-bottom: none;
  border-radius: 0 20px 0 0;
  transition: .4s;
  z-index: -1;
}

.sec9-bx:hover::before {
  width: 80%;
  height: 80%;
}

.sec9-bx span {
  position: absolute;
  right: 40px;
  bottom: -15px;
  font-size: 120px;
  color: #FFB300;
  opacity: .2;
  z-index: -1;
}

.sec9-bx h4{
font-family: var(--heading-font-family);
color: var(--theme-color1);
font-weight: 500;
}

.sec9-bx h6{
font-family: var(--text-font-family);
color: var(--theme-color2);
font-weight: 500; 
}

.sec9-bx p{
font-family: var(--text-font-family);
  color: var(--text-color);
  line-height: 26px;
  letter-spacing: 0.3px;  
}

.testimonial-rate {
  color: #FFB300;
  margin-top: 12px;
}

.slick-prev, .slick-next, .slick-pre, .slick-nex{ 
  background-color:var(--theme-color2); /* Custom background color */ 
  border: none; /* Remove default border */ 
  color: #fff; /* Custom text color */ 
  cursor: pointer; /* Pointer cursor */ 
  position: absolute; top: 50%; 
  transform: translateY(-50%); 
  z-index: 1; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  } 

.slick-prev, .slick-pre { 
left: -30px;
} 

.slick-next, .slick-nex {
right: -30px; 
} 

.slick-prev::before, .slick-next::before, .slick-pre::before, .slick-nex::before {
content: ''; 
}


footer{
padding: 0 0 40px;
background: #052b3f url(../images/footer-bg.png);
background-size:cover; 
}

.footer-top-area{
background:var(--theme-color2);
margin-bottom: 50px;
position: relative;
z-index: 9;
}

.footer-top-area::before{
background-color:#04273a;
  content: "";
  width: 67%;
  height: calc(100% + 20px);
  position: absolute;
  left: 0;
  bottom: -1px;
  clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
  z-index: 4;
}

.ft-abt{
  padding: 30px 20px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9;
}

 .ft-abt img{
width: 160px;
    margin-right: 20px;
    border-right: 1px solid rgba(255,255,255,0.2);
    padding-right: 20px;
}
.ft-abt p{
  font-family: var(--text-font-family);
  color: rgba(255,255,255,0.6);
  margin: 0;
}

.ftr-taxi{
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 3;
  padding: 0 25px;
}

.ftr-taxi i{
color: var(--bs-white);
    font-size: 45px;
    margin-right: 15px;
}
.ftr-taxi h4{
  font-family: var(--text-font-family);
  color: var(--bs-white);
  font-size: 16px;
  margin-bottom: 0px;
}

.ftr-taxi a{
  font-family: var(--heading-font-family);
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: var(--bs-white);
}

.ftr-taxi::before {
  background-image: repeating-linear-gradient(45deg, var(--theme-color2) 0, rgba(255,255,255,0.2) 2px, transparent 0, transparent 50%);
  background-size: 10px 10px;
  content: "";
  width: 3000px;
  height: 100%;
  position: absolute;
  left: -50px;
  bottom: 0;
  z-index: -1;
}

.f-links h4{
font-family: var(--heading-font-family);
color: var(--bs-white);
font-size: 23px;
position: relative;
margin-bottom: 15px;
}

.f-links h4::after{
position:absolute;
content: '';
left: 0;
bottom: -4px;
width: 5px;
height: 2px;
background: var(--theme-color2);
}

.f-links h4::before{
 position:absolute;
content: '';
left: 10px;
bottom: -4px;
width: 20px;
height: 2px;
background: var(--theme-color2); 
}


.f-links h6{
  color: var(--bs-white);
  font-family: var(--heading-font-family);
}

.f-links p{
font-family: var(--text-font-family);
color: rgba(255,255,255,0.6);
}

.f-links p i{
   padding-right: 5px;
  color: var(--theme-color2); 
}


.f-links ul{
  padding: 0;
}

.f-links ul li{
list-style: none;
line-height: 28px;
}

.f-links ul li a{
font-family: var(--text-font-family);
text-decoration: none;
color: rgba(255,255,255,0.6);
display: block;
transition: .4s;
-webkit-transition: .4s;
-moz-transition: .4s;
}

.f-links ul li a i{
  padding-right: 5px;
  color: var(--theme-color2);
}

.f-links ul li a:hover{
  padding-left: 4px;
  color: var(--theme-color2);
}

@media (min-width:0px) and (max-width:575px){
.top{
  display: none;
}

.navbar-toggler {
  background: var(--theme-color2);
  color: var(--bs-white);
}

.top-btn{
display: none;
}

.offcanvas img{
  width: 150px;
}

.carousel-caption {
  right: 34%;
}

.carousel-caption h2 {
  font-size: 17px;
}

.carousel-caption p{
  display: none;
}

.carousel-caption a {
  padding: 7px 12px;
  font-size: 14px;
}

.ban2{
  left: 30%;
  right: auto;
}

.slick-next, .slick-nex {
    right: 5px;
}

.slick-prev, .slick-pre {
    left: -5px;
}

.ft-abt{
  flex-direction: column;
}

.ft-abt img {
    margin-right: 0px;
    border-right: 0px solid rgba(255,255,255,0.2);
    padding-right: 0px;
    margin-bottom: 10px;
}

.footer-top-area::before {
    z-index: 0;
}

.ftr-taxi {
    padding: 15px;
    background-color: var(--theme-color2);
}

.ftr-taxi::before {
display: none;
  }

}

@media (min-width:576px) and (max-width:767px){
.sec7-title h2 {
  font-size: 28px;
}
}

@media (max-width:767px){
footer{
  position: relative;
  overflow: hidden;
}

.sec6-box::before{
  display: none;
}
}


@media (min-width:768px) and (max-width:991px){

}

@media (max-width: 767px) {
 .footer-top-area::before {
    width: 100%;
    height: 100%;
    clip-path: none;
  }
}

@media (max-width:991px){
.sec-7::before {
background: none !important;
clip-path: none;
width: 100% !important;
}
.sec-7 {
  overflow: hidden;
  }
  .sec7-title h6 {
  color: var(--theme-color2);
}

.sec7-title h2 {
  color: var(--theme-color1);
}

.sec7-box2 p {
  color: var(--text-color);
}

.sec7-box h4 {
  color: var(--theme-color2) !important;
}
}





@media (max-width: 992px) {
  .footer-top-area::before {
    width: 90%;
    height: calc(100% - 100px);
    bottom: auto;
    top: 0;
  }

 .footer-top-right::before {
  left: -500px;
}
}



@media (max-width:1024px){
.sec-7::before {
  width: 800px;
  -webkit-clip-path: polygon(18% 0,100% 0,70% 100%,0 100%);
  clip-path: polygon(18% 0,100% 0,70% 100%,0 100%);
}

/*  .footer-top-area::before {
    width: 70%;
  }*/
}


